{% extends 'base.html' %}
{% block body_block %}
<form action = "create">
  <div class="form-group">
    <label for="title">Title</label>
    <input name = "title" type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="쉬기, 자기 등등...">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
    <!--<input type = "text" class= "form-control" id = "content" placeholder = "상세내용">-->
    <textarea name = "content" class = "form_controler" id = 'content' rows ="5"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}